# SERVER ENV

SECRET=

DB_HOST=
DB_PORT=

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=

REDIS_HOST=
REDIS_PORT=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# CLIENT ENV

REACT_APP_MODE=
REACT_APP_API_URL=
GENERATE_SOURCEMAP=
