Homepage-Back
Homepage-Back-R2
Homepage-Front
Homepage-ChatServer

.env

.vscode

*.sql
*.tar.gz

# Trash Mac data
.DS_Store
*.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Mediawiki images
wiki/docker/data/images

# Mediawiki Skin
Liberty

# Spring Boot Build
application
dependencies
snapshot-dependencies
spring-boot-loader

keeper_files

imgs

reports

backup
